<ul class="nav" style="margin-bottom:2em;">
  <li><a href="mailto:leo.lahti@iki.fi" class="email"><i class="fa fa-fw fa-envelope-o"></i>leo.lahti@iki.fi</a></li>
  <li><a href="/">Home</a></li>
  <li><a href="/code">Code</a></li>
  <li><a href="/data">Data</a></li>    
  <li><a href="/info">Projects</a></li>
  <li><a href="/work/pubs/">Publications</a></li>
  <li><a href="/talks/">Talks</a></li>  
  <li><a href="/edu/">Teaching</a></li>  
  <li><a href="/media/">Media</a></li>  
  <li><a href="/info/contact">Contact</a></li>
  <li><a href="https://github.com/antagomir/"><i class="fa fa-lg fa-github"></i></a><a href="https://twitter.com/antagomir"><i class="fa fa-lg fa-twitter"></i></a><a href="https://antagomir.wordpress.com/"><i class="fa fa-lg fa-rss"></i></a>    
</ul>

  <!-- The icons come from the external css links at _includes/head.html-->




